<h1 class="text-center mb-4">Your Bookings</h1> <!-- Added mb-4 class for margin-bottom -->
<div class="row">
  <% @bookings.each do |b| %>
    <div class="col-12 col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= "#{b.car.brand}  #{b.car.model}" %></h5>
          <p class="card-text">
           <p><%= "From - #{b.start_date.strftime("%m/%d/%Y - %R")} to #{b.end_date.strftime("%m/%d/%Y - %R")}" %></p>
            <p><%=  "Location: #{b.location.address}" %></p>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h1 class="text-center mb-4">Your Listings</h1>
<div class="row">
<% @usercars.each do |car| %>
<div class="col-12 col-lg-4 col-md-6">
 <div class="card">
 <div class="card-body">
     <i class="fa-solid fa-car"></i> <%= "#{car.brand} #{car.model}" %>
 <p><i class="fa-solid fa-money-bill"></i> <%= car.price_per_day %> </p>
 <p><i class="fa-solid fa-paintbrush"></i> <%= car.color %></p>
 <p><i class="fa-solid fa-gear"></i> <%= car.automatic %></p>
 <p><i class="fa-brands fa-bluetooth"></i> <%= car.bluetooth %></p>
 <p><i class="fa-solid fa-gas-pump"></i> <%= car.fuel_type %></p>
     </div>
</div>
</div>
<% end %>
</div>
