<div class="wholepage">
  <div class="heading-container">
    <h1 class="headerone"> Cars Available: <small class="results-count"><%= @cars.length %> Results</small></h1>

  </div>
  <div class="row justify-content-center searchbar">
  <div class="col-sm-8 my-3">
    <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search" , name: "", class: " btn-fcard" %>
    <% end %>
  </div>
</div>

<div class="row full-car-card">
  <% @cars.each do |car| %>
    <div class="col-md-6">
      <div class="car-card">
        <div class="car-card-body d-flex">
          <!-- Car image column -->
          <div class="col-md-4 car-div">
            <% if car.photos.first.present? %>
              <%= cl_image_tag car.photos.first.key, alt: "#{car.brand} #{car.model}", width: "300px", height: "300px", class: "car-image " %>
            <% else %>
              <%= image_tag asset_path("img car.png"), alt: "#{car.brand} #{car.model}", class: "car-image img-fluid" %>
            <% end %>
          </div>
            <!-- Car details column -->
            <div class="col-md-8 d-flex">
              <div class="description-title">
                <h5 class="car-card-title"><%= "#{car.brand} #{car.model}" %></h5>
                <p class="car-card-text">Description about the car goes here.</p>
              </div>
              <div class="text-end best-price">
                <p class="vehicle-pricing">BEST PRICE</p>
                <p class="price-text">£<%= "#{car.price_per_day.round} / day" %></p>


                <%= link_to "Select", car_path(car), class: "btn-fcard" %>


              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>






<%# <div class="container">
  <div class="row">
    <%= image_tag "APEXAUTO.png", alt: "Le Wagon", width: 400 %>
  <%# </div> %>
<%# </div> %>
