<h1 class="title">Rent Out Your SuperCar</h1>
<div class="col-sm-6 car-form">
<%= simple_form_for [@car] do |f| %>
  <%= f.input :brand %>
  <%= f.input :model %>
  <%= f.input :seats %>
  <%= f.input :fuel_type %>
  <%= f.input :price_per_day %>
  <%= f.input :automatic %>
  <%= f.input :bluetooth %>
  <%= f.input :color %>
  <%= f.input :photos, as: :file, input_html: { multiple: true }%>

  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>
</div>
