<div class="container-fluid py-5 car-background">
    <div class="bg-light shadow-lg rounded main-container">
        <div class="text-center text-white p-5 car-header">
            <%= content_tag :h1, "#{@cars.brand} #{@cars.model}", class: "display-4 fw-bold text-shadow" %>
            <% @cars.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: "custom-image img-fluid rounded-circle mt-3" %>
            <% end %>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card border-primary shadow">
                    <div class="card-body">
                        <h5 class="card-title"><%= "#{@cars.brand} #{@cars.model}" %></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="bi bi-palette-fill"></i> Color: <%= @cars.color %></li>
                            <!-- Add more list items here -->
                        </ul>
                        <%= link_to "Go back", cars_path, class: "btn custom-btn-secondary mt-3 me-2" %>
                        <%= link_to "Rent This Car", new_car_booking_path(@cars), class: "btn custom-btn-primary mt-3" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
